<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=9a1b663d-45f7-4031-b1dc-88a8f4f4d22e&lang=ru_RU" type="text/javascript">
    </script>
</head>
<body>
    <div id='map'></div>
</body>
</html>